        body {
            background-image: url("../img/istockphoto-810886520-170667a.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* Classe reutilizaveis (Wrapper/Embrulho + Flex) */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a {
            color: black;
            font-size: 30px;
            font-weight: 300px;
            cursor: pointer;
            padding: 17px;
            text-decoration: underline;
            display: flex;
            flex-direction: row;
            justify-content: end;
        }

        a:hover {
            color: #fff;
            transition: 0.5s;
        }

        img {
            width: 25%;
        }

        /* Classe reutilizaveis (Wrapper/Embrulho + Flex) */

        .wrapper {
            max-width: 1440px;
            margin: auto;
            width: 90%;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: right;
        }

        /* Começo estilo Seção Inicial */

        #secao-inicial {
            color: #fff;
            font-size: 25px;
            left: 0px;
            top: 0px;
        }

        #link>a:hover {
            text-decoration: underline;
            font-family: Assistant;
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 39px;
            text-align: center;
        }

        img {
            width: 25%;
        }

        #conteudo-inicial {
            font-family: Arial black;
            font-size: 46px;
            line-height: 40px;
            padding: 40px;
            margin-left: 370px;
        }

        /*corpo do site*/

        .img {
            width: 100%;
            padding: 40px;
        }

        /*primeira linha*/
        /*modelo mesa 1*/

        .mesa {
            display: flex;
        }

        #mesas {
            font-family: arial black;
            font-size: 38px;
            margin-left: -5px;
            padding: 30px;
            color: rgb(185, 120, 35);
        }

        .boxmesa1 {
            border-radius: 1px;
            width: 350px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .mesa1 {
            width: 330px;
            height: 281px;
            margin-left: 20px;
        }

        .text1 {
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-left: 20px;
        }

        /*modelo mesa 2*/

        .boxmesa2 {
            border-radius: 1px;
            width: 450px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .mesa2 {
            width: 350px;
            height: 280px;
            margin-left: 70px;
        }

        .texto2 {
            padding: 20px;
            margin-left: 130px;
        }

        /*modelo mesa 3*/

        .boxmesa3 {
            border-radius: 1px;
            width: 450px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .mesa3 {
            width: 350px;
            height: 280px;
            margin-left: 30px;
        }

        .texto3 {
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-left: 70px;
        }

        /*segunda linha linha*/
        /*modelo banco1*/

        .banco {
            display: flex;
        }

        #bancos {
            font-family: arial black;
            font-size: 38px;
            margin-left: -2px;
            padding: 25px;
            color: rgb(185, 120, 35);
        }

        .boxbanco1 {
            border-radius: 1px;
            width: 320px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .banco1 {
            width: 330px;
            height: 240px;
            margin-left: 10px;
        }

        .texto4 {
            padding: 20px;
            margin-left: 80px;
        }

        /*modelo banco2*/

        .boxbanco2 {
            border-radius: 1px;
            width: 420px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .banco2 {
            width: 350px;
            height: 240px;
            margin-left: 50px;
        }

        .texto5 {
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-left: 100px;
        }

        /*modelo banco3*/

        .boxbanco3 {
            border-radius: 1px;
            width: 320px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .banco3 {
            width: 350px;
            height: 240px;
            margin-left: 55px;
        }

        .texto6 {
            padding: 20px;
            margin-left: 135px;
        }

        /*linha 3 */

        .buffets {
            display: flex;
        }

        #buffets {
            padding: 50px;
            font-family: arial black;
            font-size: 38px;
            display: flex;
            justify-content: left;
            color: rgb(185, 120, 35);
            margin-left: -40px;
        }

        /*modelo buffet1 */

        .boxbuffet1 {
            border-radius: 1px;
            width: 320px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .buffet1 {
            width: 340px;
            height: 220px;
            margin-left: 15px;
        }

        .texto7 {
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-left: 70px;
        }

        /*modelo buffet2 */

        .boxbuffet2 {
            border-radius: 1px;
            width: 440px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .buffet2 {
            width: 350px;
            height: 220px;
            margin-left: 100px;
        }

        .texto8 {
            padding: 20px;
            margin-left: 180px;
        }

        /*modelo buffet3 */

        .boxbuffet3 {
            border-radius: 1px;
            width: 440px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .buffet3 {
            width: 350px;
            height: 220px;
            margin-left: 90px;
        }

        .texto9 {
            padding: 20px;
            margin-left: 160px;
        }

        #caixas {
            padding: 20px;
            font-family: arial black;
            font-size: 38px;
            margin-left: -25px;
            padding: 30px;
            color: rgb(185, 120, 35);
        }

        /*linha 4*/

        .caixas {
            display: flex;
        }

        /*modelo de caixa1*/

        .boxcaixa1 {
            border-radius: 1px;
            width: 440px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .caixa1 {
            width: 355px;
            height: 220px;
            margin-left: 5px;
        }

        .texto10 {
            padding: 20px;
            margin-left: 100px;
        }

        /*modelo de caixa2*/

        .boxcaixa2 {
            border-radius: 1px;
            width: 440px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .caixa2 {
            width: 345px;
            height: 220px;
            margin-left: -15px;
        }

        .texto11 {
            padding: 20px;
            margin-left: 68px;
        }

        /*modelo de caixa3*/

        .boxcaixa3 {
            border-radius: 1px;
            width: 440px;
            margin: 0px 2px 2px 2px;
            padding: 0;
            box-sizing: border-box;
        }

        .caixa3 {
            width: 350px;
            height: 220px;
            margin-left: -48px;
        }

        .texto12 {
            padding: 20px;
            margin-left: 40px;
        }

        /*footer*/

        footer {
            padding: 20px;
        }

        .titulo {
            padding: 20px;
            display: flex;
            justify-content: center;
            font-size: 50px;
        }

        .dados {
            padding: 20px;
            display: flex;
            justify-content: center;
        }

        input[type=text1],
        select,
        textarea {
            width: 80%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 4px;
            margin-bottom: 16px;
            resize: vertical;
            margin-right: 20px;
        }

        input[type=text2],
        select,
        textarea {
            width: 30%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            margin-left: 28px;
        }

        input[type=text3],
        select,
        textarea {
            width: 80%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            margin-left: 22px;
        }

        .det {
            padding: 20px;
            display: flex;
            justify-content: center;
        }

        input[type=text4],
        select,
        textarea {
            width: 60%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            margin-left: 18px;
        }

        input[type=text5],
        select,
        textarea {
            width: 30%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            margin-left: 18px;
        }

        input[type=text6],
        select,
        textarea {
            width: 30%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            margin-left: 30px;
        }

        input[type=texto3],
        select,
        textarea {
            height: 200px;
            width: 350px;
            margin-left: 75px;
        }

        button {
            background-color: rgb(252, 248, 245);
            padding: 20px;
            display: flex;
            justify-content: right;
            margin-left: 75px;
            margin-top: -2px;
        }

        .container {
            border-radius: 5px;
            padding: 40px;
        }

        /* começou os responsivo*/
        /*1° blackpoint H1*/
        @media screen and (max-width:1430px) {
            #conteudo-esq {
                font-size: 44px;
            }
        }

        /*2° blackpoint H1*/
        @media screen and (max-width:1185px) {
            #conteudo-esq {
                font-size: 42px;
            }
        }

        /*3° blackpoint H1*/
        @media screen and (max-width:1158px) {
            #conteudo-esq {
                font-size: 40px;
            }
        }

        /*4° blackpoint H1*/
        @media screen and (max-width:1128) {
            #conteudo-esq {
                font-size: 38px;
            }
        }

        /*5° blackpoint H1*/
        @media screen and (max-width:1110px) {
            #conteudo-esq {
                font-size: 36px;
            }
        }

        /*6° blackpoint H1*/
        @media screen and (max-width:1066) {
            #conteudo-esq {
                font-size: 33px;
            }
        }

        /*7° blackpoint H1*/
        @media screen and (max-width:1058px) {
            #conteudo-esq {
                font-size: 32px;
            }
        }

        /*8° blackpoint H1*/
        @media screen and (max-width:1003px) {
            #conteudo-esq {
                font-size: 30px;
            }
        }